@model IEnumerable<CameraModel>
<!DOCTYPE html>

<html>
<head>
	<title>Remote camera</title>
</head>
<body>
<div>
	<script type="application/json">
		@Html.Action("CameraJson")
	</script>

	<div class="camera-grid">
		@foreach (var camera in Model)
		{
        <div class="camera">
	        <img src="@Url.Action("RemoteImage", routeValues: new {name = camera.Name})"/>
	        <span>@camera.Name</span>
        </div>
		}
		<div style="clear:both"></div>
	</div>
</div>
</body>
</html>